<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <title>Home page - Заявка</title>

    <% include ../../common/bootstrap_css.ejs %>
    <% include ../../common/font_awesome_css.ejs %>
    <link href="/navbar-top.css" rel="stylesheet">
    <link href="/typeaheadjs.css" rel="stylesheet">
    <link href="/bower_components/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
        <a class="navbar-brand" href="/home">Домофон-Сервис</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <% include ../../common/full_menu.ejs %>
    </nav>

    <div class="container">
        <div class="card">
            <div class="card-header">
                Новая заявка
            </div>
            <div class="card-body">
                <input type="text" hidden id="id" name="id" value="<%= typeof data != 'undefined' ? data.id : ''  %>">
                <input type="text" hidden id="apartment_id" name="apartment_id" value="<%= typeof data != 'undefined' ? data.apartment_id : ''  %>">
                <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                          <label for="create_date">Дата создания</label>
                          <div class="input-group date" id="datetimepicker_create_date" data-target-input="nearest">
                              <input type="text" name="create_date" id="create_date" class="form-control datetimepicker-input" data-target="#datetimepicker_create_date" readonly value="<%= typeof data != 'undefined' ? moment(data.create_date).format( 'DD.MM.YYYY HH:mm' ) : moment(new Date()).format( 'DD.MM.YYYY HH:mm' )  %>"/>
                              <div class="input-group-append" data-target="#datetimepicker_create_date" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="address">Адрес</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="" value="">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="porch">Подъезд</label>
                            <input type="text" class="form-control" id="porch" name="porch" placeholder="" value="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="phone">Телефон</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="selectpicker form-control" multiple title="Выберите неисправности">
                                <% for (var ind = 0, max = faults.length; ind < max; ind++) { %>
                                <option value="<%= faults[ind].id %>"><%= faults[ind].name %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                            <label for="performer">Исполнитель</label>
                            <input type="text" class="form-control" id="performer" name="performer" placeholder="Фамилия исполнителя" value="">
                    </div>
                </div>
                <p>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-success" id="save">Записать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/bootstrap3-typeahead/bootstrap3-typeahead.js"></script>
    <script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="/bower_components/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <script>
      $(document).ready(function () {
        $('#datetimepicker_create_date').datetimepicker({
          // format: 'L',
          locale: 'ru'
        });

        $('#performer').typeahead({
          items: 15,
          source: function (query, process) {
            var results = [];
            map = {};
            $.ajax({
              'url': '/applications/search_performer',
              'type': 'POST',
              'contentType': 'application/json',
              'data': JSON.stringify({
                'suggestion': query,
                'limit': 15
              }),
              success: function (datas) {
                $.each(datas, function (i, result) {
                  map[result.value] = result;
                  results.push(result.value);
                });
                process(results);
              }
            });
          },
          updater: function (element) {
            // alert(map[element].id);
            // $('#performer_id').val(map[element].id);
            return element;
          }
        });

        // $(document).ready(function() {
        //   $('#example-getting-started').multiselect();
        // });
       
      });
    </script>
</body>

</html>