<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../../../favicon.ico"> -->
  <title>Home page - Заявка</title>

  <% include ../../common/bootstrap_css.ejs %>
  <link href="/theme.css" rel="stylesheet">
  <link href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"
    rel="stylesheet">
</head>

<body>
  <% include ../../common/full_menu.ejs %>

  <div class="container">
    <div class="form-header">
      <h3>Заявка</h3>
      <% if (Object.keys(errors).length> 0) { %>
      <h3><span class="text-danger">Выявлены ошибки:</span></h3>
      <ul>
        <% for (var key in errors) { %>
        <li><span class="text-danger">
            <%= errors[key].msg %>
          </span></li>
        <% }; %>
      </ul>
      <% } %>
    </div>

    <div class="well">
      <div class="card-body">
        <form method="post" action="/applications/save" novalidate>
          <input type="text" hidden id="documentId" name="documentId" value="<%= data.id %>">
          <input type="text" hidden id="cityId" name="cityId" value="<%= data.address.city.id %>">
          <input type="text" hidden id="streetId" name="streetId" value="<%= data.address.street.id %>">
          <input type="text" hidden id="houseId" name="houseId" value="<%= data.address.house.id %>">
          <input type="text" hidden id="performerId" name="performerId" value="<%= data.performer.id %>">
          <input type="text" hidden id="faults" name="faults" value="<%= JSON.stringify(data.faults) %>">
          <input type="text" hidden id="isDone" name="isDone" value="<%= data.isDone %>">
          <input type="text" hidden id="cardId" name="cardId" value="<%= data.order.id %>">

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="createDate" class="control-label">Создано</label>
                <div class="input-group date" id='datetimepicker_create_date'>
                  <input type="text" class="form-control" name="createDate" id="createDate"
                    value="<%= moment(data.createDate).format('DD.MM.YYYY HH:mm') %>" readonly>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="completionDate" class="control-label">Выполнение</label>
                <div class="input-group date" id='datetimepicker_completion_date'>
                  <input type="text" class="form-control" name="completionDate" id="completionDate"
                    value="<%= data.completionDate != null ? moment(data.completionDate).format('DD.MM.YYYY HH:mm') : '' %>">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="address">Адрес</label>
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="clearAddress">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  </span>
                  <input type="text" class="form-control" id="address" name="address" placeholder=""
                    value="<%= data.address.full %>">
                </div>
              </div>
            </div>
            <div class="col-md-1 <%= errors.porch ? 'has-error' : '' %>">
              <div class="form-group">
                <label class="control-label" for="porch">Номер</label>
                <input type="text" class="form-control" id="porch" name="porch" placeholder=""
                  value="<%= data.address.number %>">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="kind">Тип</label>
                <% var kinds=['Подъезд', 'Квартира' ] %>
                <select class="form-control" id="kind" name="kind">
                  <% kinds.forEach(function (item, index) { %>
                  <option value="<%= index %>" <%=data.address.kind==index ? ' selected' : '' %>><%= item %>
                  </option>
                  <% }); %>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label" for="phone">Телефон</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder=""
                  value="<%= typeof data !== 'undefined' ? data.phone : '' %>">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-condensed" name="tableFaults" id="tableFaults">
                <thead>
                  <tr class="active">
                    <th style="width: 25%; cursor: pointer;" class="text-left align-middle sort control-label">
                      Неисправность</th>
                    <th style="width: 25%; cursor: pointer;" class="text-left align-middle sort control-label">Решение
                    </th>
                    <th style="width: 20%;" class="text-left align-middle">Исполнил</th>
                    <th style="width: 10%;" class="text-center align-middle">Дата</th>
                    <th style="width: 10%;" class="text-center align-middle">Готово</th>
                    <th style="width: 10%;" class="text-center align-middle">Действия</th>
                  </tr>
                  <tr>
                    <td colspan="6"><input type="text" class="form-control" id="fault" name="fault"
                        placeholder="Добавьте неисправность" value=""></td>
                  </tr>
                </thead>
                <tbody>
                  <% var table=[]; %>

                  <% if (typeof data !=='undefined' ) { %>
                  <% table=data.faults; %>
                  <% } %>

                  <% if (table.length> 0) { %>
                  <% for (var ind=0, max=table.length; ind < max; ind++) { %>
                  <tr class="warning">
                    <td>
                      <%= table[ind].faultName %>
                    </td>
                    <td>
                      <%= table[ind].decision %>
                    </td>
                    <td>
                      <%= table[ind].workerId> 0 ? table[ind].workerName : '' %>
                    </td>
                    <td class="text-center">
                      <%= table[ind].completionDT !==null ? moment(table[ind].completionDT).format( 'DD.MM.YYYY HH:mm' ) : '' %>
                    </td>
                    <td class="text-center">
                      <% if (table[ind].isDone==1) { %>
                      <button type="button" class="btn btn-default btn-xs"><span
                          class="glyphicon glyphicon-ok"></span></button>
                      <% } %>
                    </td>
                    <td class="text-center">
                      <button type="button" class="btn btn-info btn-xs editRow">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-danger btn-xs deleteRow">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                      </button>
                    </td>
                  </tr>
                  <% } %>
                  <% } else { %>
                  <tr>
                    <td class="warning text-center align-middle" colspan="6">Нет данных</td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="isDisablingApartments" name="isDisablingApartments"
                    <%=data.isDisablingApartments ? 'checked' : '' %> >
                  <label class="form-check-label" for="isDisablingApartments">
                    Есть отключение квартир
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="isTimeRange" name="isTimeRange"
                    <%=data.isTimeRange ? 'checked' : '' %>>
                  <label class="form-check-label" for="isTimeRange">
                    Временный интервал
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div id="timeRangePanel" <%=data.isTimeRange ? '' : 'hidden' %>>
            <div class="row">
              <div class="col-md-1">
                <div class="form-group">
                  <label for="hourFrom">Час c</label>
                  <select class="form-control" id="hourFrom" name="hourFrom">
                    <% [11, 12, 13, 14, 15, 16, 17, 18, 19].forEach( (item)=> { %>
                    <option value="<%= item %>" <%=data.hourFrom===item ? 'selected' : '' %>><%= item %>
                    </option>
                    <% }); %>
                  </select>
                </div>
              </div>

              <div class="col-md-1">
                <div class="form-group">
                  <label for="hourTo">Час по</label>
                  <select class="form-control" id="hourTo" name="hourTo">
                    <% [12, 13, 14, 15, 16, 17, 18, 19].forEach( (item)=> { %>
                    <option value="<%= item %>" <%=data.hourTo===item ? 'selected' : '' %>><%= item %>
                    </option>
                    <% }); %>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label" for="performer">Исполнитель</label>
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="clearPerformer">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  </span>
                  <input type="text" class="form-control select-all" id="performer" name="performer"
                    placeholder="Фамилия исполнителя" value="<%= data.performer.name %>">
                </div>
              </div>
            </div>
          </div>

          <% if (data.isDone) { %>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="create_date" class="control-label">Выполнено</label>
                <div class="input-group date" id='datetimepicker_close_date'>
                  <input type="text" class="form-control" name="closeDate" id="closeDate"
                    value="<%= moment(data.closeDate).format('DD.MM.YYYY HH:mm') %>">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <% } %>

          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-success" id="save">Записать</button>
              <% if (data.isDone) { %>
              &nbsp;
              <button type="submit" class="btn btn-info" id="move" name="move">Перенести в Текущие
                заявки</button>
              <% } %>
              &nbsp;
              <button class="btn btn-info" id="orderInformation"><span
                  class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Гарантийный договор</button>
              &nbsp;
              <a id="linkToOrder" href="/orders/edit/<%= data.order.id %>"
                class="stretched-link <%= data.order.id > 0 ? 'visible' : 'invisible' %>">
                <%= data.order.contractNumber + (+data.order.maintenanceContract >= 1 ? ' (' +
                            data.order.prolongedContractNumber + ')' : '') %>
              </a>
              <img id="brick" src="/images/brick.png" style=<%- ((data.order.maintenanceContract != 1) && (data.order.isYoungAge != 1)) ? `"visibility: visible"` : `"visibility: hidden"` %>>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal bs-example-modal-normal" id="application_dialog" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-normal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="applicationCapton">Неисправность</h4>
        </div>
        <div class="modal-body">
          <form>
            <input type="text" class="hidden" id="idTable" value="">
            <input type="text" class="hidden" id="dlgWorkerId" value="">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label for="dlgFaultName">Описание</label>
                  <input type="text" class="form-control select-all" id="dlgFaultName">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label for="dlgDecision">Решение</label>
                  <input type="text" class="form-control select-all" id="dlgDecision">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label for="dlgWorker">Исполнитель</label>
                  <input type="text" class="form-control select-all" id="dlgWorker">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <label>
                    <input type="checkbox" id="dlgIsDone">
                    &nbsp;Выполнено
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" id="saveButton">&nbsp;Записать&nbsp;</button>
          <button type="submit" class="btn btn-warning" data-dismiss="modal">&nbsp;Отмена&nbsp;</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
  <script src="/bower_components/bootstrap/js/transition.js"></script>
  <script src="/bower_components/bootstrap/js/collapse.js"></script>
  <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script src="/bower_components/bootstrap3-typeahead/bootstrap3-typeahead.js"></script>
  <script src="/bower_components/axios/dist/axios.min.js"></script>
  <script src="/js/application.js"></script>

</body>

</html>