<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <title>Home page - <%= title %></title>

    <% include ../../common/bootstrap_css.ejs %>
    <link href="/theme.css" rel="stylesheet">
    <link href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/scroll_table_double_rows.css" rel="stylesheet">
</head>

<body>
    
    <% include ../../common/full_menu.ejs %>

    <div class="container">
        <div class="form-header">
            <h3><%= title %></h3>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="tab" href="#core">Основное</a></li>
                        <li><a data-toggle="tab" href="#seniorContract">Старший по договору</a></li>
                        <li><a data-toggle="tab" href="#maintenance">Техобслуживание</a></li>
                        <li><a data-toggle="tab" href="#seniorMaintenance">Старший по техобслуживанию</a></li>
                        <li><a data-toggle="tab" href="#additionally">Дополнительно</a></li>
                    </ul>
                </div>
            </div>
            <form action="/payments/save" method="post">
                <div class="well">
                <div class="card-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane in active" id="core">
                        <input type="text" hidden id="id" name="id" value="<%= typeof data != 'undefined' ? data.id : ''  %>">
                        <input type="text" hidden id="apartment_id" name="apartment_id" value="<%= typeof data != 'undefined' ? data.apartment_id : ''  %>">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="contract_number">Номер</label>
                                    <input type="text" class="form-control" id="contract_number" name="contract_number" placeholder="" autofocus="autofocus" value="<%= typeof data !== 'undefined' ? data.contract_number : '' %>">
                                </div>
                            </div>
                            <div class="col-md-2 <%= errors.createDate ? 'has-error' : '' %>">
                                <div class="form-group">
                                    <label for="createDate" class="control-label">Создано</label>
                                    <div class="input-group date" id="dtCreateDate">
                                        <input type="text" class="form-control" name="createDate" id="createDate"
                                        value="<%= typeof data !== 'undefined' ? moment(data.createDate).format( 'DD.MM.YYYY' ) : moment(new Date()).format( 'DD.MM.YYYY' )  %>">
                                        <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <% if (errors.createDate) { %>
                                    <span class="help-block"><%= errors.createDate.msg  %></span>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="equipment_name">Оборудование</label>
                                    <input type="text" class="form-control" id="equipment_name" name="equipment_name" placeholder="Выберите оборудование" value="<%= typeof data !== 'undefined' ? data.equipment_name : '' %>">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="endContract" class="control-label">Окончание договора</label>
                                    <div class="input-group date" id="dtEndContract">
                                        <input type="text" class="form-control" name="endContract" id="endContract"
                                        value="<%= typeof data !== 'undefined' ? moment(data.endContract).format( 'DD.MM.YYYY' ) : '' %>">
                                        <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                        <label>&nbsp;</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="repaid" <%= typeof data !== 'undefined' ? (+data.repaid === 1 ? ' checked' : '') : '' %>>
                                        <label class="form-check-label" for="repaid">
                                            Погашено
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-md-offset-7 <%= errors.creditTo ? 'has-error' : '' %>">
                                <div class="form-group">
                                    <label for="creditTo" class="control-label">Кредит до</label>
                                    <div class="input-group date" id="dtCreditTo">
                                        <input type="text" class="form-control" name="creditTo" id="creditTo"
                                        value="<%= typeof data !== 'undefined' ? moment(data.creditTo).format( 'DD.MM.YYYY' ) : '' %>">
                                        <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <% if (errors.creditTo) { %>
                                    <span class="help-block"><%= errors.creditTo.msg  %></span>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9 <%= errors.address ? 'has-error' : '' %>">
                              <div class="form-group">
                                <label class="control-label" for="address">Адрес</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="addAddress">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-default" type="button" id="clearAddress">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                    <input type="text" class="form-control" id="address" name="address" placeholder=""
                                      value="<%= typeof data !== 'undefined' ? data.address : '' %>">
                                </div>
                                <% if (errors.address) { %>
                                <span class="help-block"><%= errors.address.msg  %></span>
                                <% } %>
                              </div>
                            </div>
                            <div class="col-md-1 <%= errors.porch ? 'has-error' : '' %>">
                              <div class="form-group">
                                <label class="control-label" for="porch">Подъезд</label>
                                <input type="text" class="form-control" id="porch" name="porch" placeholder=""
                                  value="<%= typeof data !== 'undefined' ? data.porch : '' %>">
                                <% if (errors.porch) { %>
                                <span class="help-block"><%= errors.porch.msg  %></span>
                                <% } %>
                              </div>
                            </div>
                            <div class="col-md-2 <%= errors.numeration ? 'has-error' : '' %>">
                              <div class="form-group">
                                <label class="control-label" for="numeration">Нумерация</label>
                                <input type="text" class="form-control" id="numeration" name="numeration" placeholder=""
                                  value="<%= typeof data !== 'undefined' ? data.numeration : '' %>">
                                <% if (errors.numeration) { %>
                                <span class="help-block"><%= errors.numeration.msg  %></span>
                                <% } %>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="seniorContract">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="client_name">Клиент по договору</label>
                                    <input type="text" class="form-control" id="client_name" name="client_name" placeholder="" value="<%= typeof data != 'undefined' ? data.client_name : '' %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="passport">Удостоверение личности</label>
                                    <input type="text" class="form-control" id="passport" name="passport" placeholder="" readonly value="<%= contractPassportData %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="registered_address">Адрес прописки</label>
                                    <input type="text" class="form-control" id="registered_address" name="registered_address" placeholder="" readonly value="<%= contractRegisteredAddress %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="actual_address">Адрес фактического места жительства</label>
                                    <input type="text" class="form-control" id="actual_address" name="actual_address" placeholder="" readonly value="<%= contractActualAddress %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="phones">Телефоны</label>
                                    <input type="text" class="form-control" id="phones" name="phones" placeholder="" readonly value="<%= contractPhones %>">
                                </div>
                            </div>
                        </div>
                        <p>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="maintenance">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="maintenance_contract">Договор ТО</label>
                                    <select class="form-control" id="maintenance_contract" name="maintenance_contract">
                                        <% utils.maintenanceContract.forEach(function(element, index) { %>
                                        <option value="<%= index %>" <%= typeof data != 'undefined' ? (data.maintenance_contract == index ? ' selected' : '') : '' %> ><%= element %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 offset-md-3">
                                <div class="form-group">
                                    <label for="start_service">с</label>
                                    <input type="text" class="form-control" id="start_service" name="start_service" placeholder="" value="<%= typeof data !== 'undefined' ? moment(data.start_service).format( 'DD.MM.YYYY' ) : '' %>">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="end_service">по</label>
                                    <input type="text" class="form-control" id="end_service" name="end_service" placeholder="" value="<%= typeof data !== 'undefined' ? moment(data.end_service).format( 'DD.MM.YYYY' ) : '' %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="m_contract_number">Номер договора</label>
                                    <input type="text" class="form-control" id="m_contract_number" name="m_contract_number" placeholder="" autofocus="autofocus" value="<%= typeof data !== 'undefined' ? data.m_contract_number : '' %>">
                                </div>
                            </div>
                            <div class="col-md-3 offset-md-6">
                                <div class="form-group">
                                    <label for="m_prolongation">Пролонгирован до</label>
                                    <input type="text" class="form-control" id="m_prolongation" name="m_prolongation" placeholder="" value="<%= typeof data !== 'undefined' ? moment(data.m_prolongation).format( 'DD.MM.YYYY' ) : '' %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="m_repaid" <%= typeof data !== 'undefined' ? (+data.m_repaid === 1 ? ' checked' : '') : '' %>>
                                        <label class="form-check-label" for="m_repaid">
                                            Погашено по квитанициям ТО
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="m_payment">Оплата по квитанциям ТО за</label>
                                    <input type="text" class="form-control" id="m_payment" name="m_payment" placeholder="" value="<%= typeof data !== 'undefined' ? data.m_payment : '' %>">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="payment_type">Вид оплаты</label>
                                    <select class="form-control" id="payment_type" name="payment_type">
                                        <% utils.paymentTypes.forEach(function(element, index) { %>
                                        <option value="<%= index %>" <%= typeof data != 'undefined' ? (data.m_payment_type_id == index ? ' selected' : '') : '' %> ><%= element %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="start_apartment">Квартира с</label>
                                    <input type="text" class="form-control" id="start_apartment" name="start_apartment" placeholder="" value="<%= typeof data !== 'undefined' ? data.m_start_apartment : '' %>">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="end_apartment">Квартира по</label>
                                    <input type="text" class="form-control" id="end_apartment" name="end_apartment" placeholder="" value="<%= typeof data !== 'undefined' ? data.m_end_apartment : '' %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            <table class="table table-bordered table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" style="width: 16%;" class="text-center align-middle">Кв-ра</th>
                                        <th scope="col" style="width: 16%;" class="text-center align-middle">Опл-но</th>
                                        <th scope="col" style="width: 16%;" class="text-center align-middle">Льготник</th>
                                        <th scope="col" style="width: 16%;" class="text-center align-middle">Освоб.</th>
                                        <th scope="col" style="width: 16%;" class="text-center align-middle">Забл-ван</th>
                                        <th scope="col" style="width: 20%;" class="text-center align-middle">Дата</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% var _class %>
                                <% for (var cnt = 0, max = apartments.length; cnt < max; cnt++) {%>
                                    
                                    <% _class = '' %>
                                    <% if ((+apartments[cnt].paid == 1) && (+apartments[cnt].half_paid == 2)) { %>
                                    <% _class = 'table-primary' %>
                                    <% } %>

                                    <% if ((+apartments[cnt].paid == 1) && (+apartments[cnt].half_paid == 1)) { %>
                                    <% _class = 'table-warning' %>
                                    <% } %>

                                    <% if ((+apartments[cnt].paid == 1) && (+apartments[cnt].half_paid == 0)) { %>
                                    <% _class = 'table-success' %>
                                    <% } %>

                                    <% if (+apartments[cnt].exempt == 1) { %>
                                    <% _class = 'table-danger' %>
                                    <% } %>

                                    <tr class="<%= _class %>" >
                                        <td style="width: 15%;" class="text-center align-middle">
                                            <%= apartments[cnt].number %>
                                        </td>
                                        <td style="width: 15%;" class="text-center align-middle">
                                            <div class="checkbox checkbox-success"><input type="checkbox" class="styled" <%= apartments[cnt].paid == 1 ? ' checked' : '' %>><label></label></div>
                                        </td>
                                        <td style="width: 15%;" class="text-center align-middle">
                                            <div class="checkbox checkbox-success"><input type="checkbox" class="styled" <%= apartments[cnt].privilege == 1 ? ' checked' : '' %>><label></label></div>
                                        </td>
                                        <td style="width: 15%;" class="text-center align-middle">
                                            <div class="checkbox checkbox-success"><input type="checkbox" class="styled" <%= apartments[cnt].exempt == 1 ? ' checked' : '' %>><label></label></div>
                                        </td>
                                        <td style="width: 15%;" class="text-center align-middle">
                                            <div class="checkbox checkbox-success"><input type="checkbox" class="styled" <%= apartments[cnt].locked == 1 ? ' checked' : '' %>><label></label></div>
                                        </td>
                                        <td style="width: 20%;" class="text-center align-middle">
                                            <%= moment(apartments[cnt].paid_dt).format( 'DD.MM.YYYY HH:mm:ss') %>
                                        </td>
                                    </tr>
                                <%}%>
                                </tbody>
                            </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="contract_info" rows="3" placeholder="Примечание" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="normal_payment">Обычная плата</label>
                                    <input type="text" class="form-control" id="normal_payment" name="normal_payment" placeholder="" value="<%= typeof data !== 'undefined' ? data.normal_payment.toFixed(2) : '' %>">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="privilege_payment">Льготная плата</label>
                                    <input type="text" class="form-control" id="privilege_payment" name="privilege_payment" placeholder="" value="<%= typeof data !== 'undefined' ? data.privilege_payment.toFixed(2) : '' %>">
                                </div>
                            </div>
                            <div class="col-md-3 offset-md-3">
                                <div class="form-group">
                                    <label for="receipt_printing">Печать квитанций</label>
                                    <input type="text" class="form-control" id="receipt_printing" name="receipt_printing" placeholder="" value="<%= typeof data !== 'undefined' ? moment(data.receipt_printing).format( 'DD.MM.YYYY' ) : '' %>">
                                </div>
                            </div>
                        </div>
                        <p>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="seniorMaintenance">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="m_client_name">Клиент по ТО</label>
                                    <input type="text" class="form-control" id="m_client_name" name="m_client_name" placeholder="" value="<%= typeof data != 'undefined' ? data.m_client_name : '' %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="m_passport">Удостоверение личности</label>
                                    <input type="text" class="form-control" id="m_passport" name="m_passport" placeholder="" readonly value="<%= servicePassportData %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="m_registered_address">Адрес прописки</label>
                                    <input type="text" class="form-control" id="m_registered_address" name="m_registered_address" placeholder="" readonly value="<%= serviceRegisteredAddress %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="m_actual_address">Адрес фактического места жительства</label>
                                    <input type="text" class="form-control" id="m_actual_address" name="m_actual_address" placeholder="" readonly value="<%= serviceActualAddress %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="m_phones">Телефоны</label>
                                    <input type="text" class="form-control" id="m_phones" name="m_phones" placeholder="" readonly value="<%= servicePhones %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="is_one_person" <%= typeof data !== 'undefined' ? (+data.is_one_person === 1 ? ' checked' : '') : '' %>>
                                        <label class="form-check-label" for="is_one_person">
                                            Клиент по договору и клиент по ТО - одно и то же лицо
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="additionally">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="attention" <%= typeof data !== 'undefined' ? (+data.attention === 1 ? ' checked' : '') : '' %>>
                                        <label class="form-check-label" for="attention">
                                            Внимание
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contract_info">Информация по договору</label>
                            <textarea class="form-control" id="contract_info" rows="3"><%= typeof data !== 'undefined' ? data.contract_info : '' %></textarea>
                        </div>
                        <div class="form-group">
                            <label for="service_info">Информация по обслуживанию</label>
                            <textarea class="form-control" id="service_info" rows="3"><%= typeof data !== 'undefined' ? data.service_info : '' %></textarea>
                        </div>
                        <p>
                    </div>

                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-success">Записать</button>
                </div>
            </div>
            </div>
            </form>
        </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/bootstrap3-typeahead/bootstrap3-typeahead.js"></script>
    <script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="/bower_components/bootstrap/js/transition.js"></script>
    <script src="/bower_components/bootstrap/js/collapse.js"></script>
    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/bower_components/bootstrap3-typeahead/bootstrap3-typeahead.js"></script>
    <script src="/bower_components/axios/dist/axios.min.js"></script>
    <script>
      $(document).ready(function () {

        $('[data-toggle="tooltip"]').tooltip();

        $('#dtCreateDate').datetimepicker({
            locale: 'ru',
            format: 'L'
        });

        $('#dtEndContract').datetimepicker({
            locale: 'ru',
            format: 'L'
        });
        
        $('#dtCreditTo').datetimepicker({
            locale: 'ru',
            format: 'L'
        });

        $('#equipment_name').typeahead({
          items: 15,
          source: function (query, process) {
            var results = [];
            map = {};
            $.ajax({
              'url': '/orders/search_equipment',
              'type': 'POST',
              'contentType': 'application/json',
              'data': JSON.stringify({
                'suggestion': query,
                'limit': 15
              }),
              success: function (datas) {
                $.each(datas, function (i, result) {
                  map[result.value] = result;
                  results.push(result.value);
                });
                process(results);
              }
            });
          },
          updater: function (element) {
            // selectedElement = map[element].id; /**use the person id and search for it**/
            // $('#driver_id').val(map[element].id);
            // //
            // $('#dlg_nickname').val(map[element].nickname);
            // $('#car_name').val(map[element].car_name);
            // $('#car_number').val(map[element].car_number);
            // $('#color_name').val(map[element].color_name);
            // var driverInfo = getDriverInfo(map[element].car_name, map[element].car_number, map[element].color_name);
            // //
            // $('#dlg_additional_info').val(driverInfo);
            // //
            // $('#saveOrder').focus();

            // $(this).val('123');
            // $('#equipment_name').val('123');
            return element;
          }
        });
      });
    </script>
</body>

</html>