<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <title>Home page - <%= title %></title>

    <% include ../../common/bootstrap_css.ejs %>
    <link href="/theme.css" rel="stylesheet">
</head>

<body>

    <% include ../../common/full_menu.ejs %>

    <div class="container">
        <div class="form-header">
            <h3><%= title %></h3>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-xs-3">
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="tab" href="#core">Текущие</a></li>
                        <li><a data-toggle="tab" href="#paymentsHistory">Выполненные</a></li>
                    </ul>
                </div>
            </div>
            <form method="post" action="/payments/save" novalidate>
                <div class="well">
                    <div class="card-body">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane in active" id="core">
                                <input type="text" hidden id="id" name="id" value="<%= typeof data != 'undefined' ? data.id : ''  %>">
                                <input type="text" hidden id="apartment_id" name="apartment_id" value="<%= typeof data != 'undefined' ? data.apartment_id : ''  %>">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="create_date">Дата создания</label>
                                            <input type="text" class="form-control" id="create_date" name="create_date" placeholder="" autofocus="autofocus" readonly value="<%= typeof data != 'undefined' ? moment(data.create_date).format( 'DD.MM.YYYY') : ''  %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="paymentType">Способ оплаты</label>
                                            <select class="form-control" id="paymentType" name="paymentType">
                                            <% for (var cnt = 0, max = utils.paymentMethod.length; cnt < max; cnt++) { %>
                                            <option value="<%= (cnt + 1) %>" <%= typeof data != 'undefined' ? (+data.mode === (cnt + 1) ? ' selected' : '') : '' %> ><%= utils.paymentMethod[cnt] %></option>
                                            <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="barcode">Штрихкод</label>
                                            <input type="text" class="form-control" id="barcode" name="barcode" placeholder="" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="contract">Договор</label>
                                            <input type="text" class="form-control" id="contract" name="contract" placeholder="" value="<%= typeof data != 'undefined' ? data.contract_number : '' %>" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="extendedContract">Пролонгированный договор</label>
                                            <input type="text" class="form-control" id="extendedContract" name="extendedContract" placeholder="" value="<%= typeof data != 'undefined' ? data.m_contract_number : '' %>">
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <label for="apartment">Квартира</label>
                                            <input type="text" class="form-control" id="apartment" name="apartment" placeholder="" value="<%= typeof data != 'undefined' ? data.number : '' %>">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="letter">&nbsp;</label>
                                            <select class="form-control" id="letter" name="letter">
                                                <option>нет</option>
                                                <option>a</option>
                                                <option>б</option>
                                                <option>в</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="period">Период действия</label>
                                            <input type="text" class="form-control" id="period" name="period" placeholder="" value="<%= typeof data != 'undefined' ? ('с ' + moment(data.start_service).format( 'DD.MM.YYYY') + ' по ' + moment(data.end_service).format( 'DD.MM.YYYY')) : '' %>" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="fullAddress">Полный адрес</label>
                                            <input type="text" class="form-control" id="fullAddress" name="fullAddress" placeholder="" value="<%= typeof data != 'undefined' ? (data.city_name + ', ' + data.street_name + ', ' + data.house_number) : '' %>" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="month">Месяц</label>
                                            <select class="form-control" id="month" name="month">
                                                <% utils.russianNamesOfMonth.forEach(function(element, index) { %>
                                                <option value="<%= index + 1 %>" <%= typeof data != 'undefined' ? (data.pay_month == index + 1 ? ' selected' : '') : '' %> ><%= element %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="year">Год</label>
                                            <input type="text" class="form-control" id="year" name="year" placeholder="" value="<%= typeof data != 'undefined' ? data.pay_year : '' %>">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="payment">Сумма к оплате</label>
                                            <input type="text" class="form-control" id="payment" name="payment" placeholder="" value="<%= typeof data != 'undefined' ? data.amount.toFixed(2) : '' %>">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="dateOfPayment">Дата оплаты</label>
                                            <input type="text" class="form-control" id="dateOfPayment" name="dateOfPayment" placeholder="" value="<%= typeof data != 'undefined' ? moment(data.pay_date).format( 'DD.MM.YYYY') : '' %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="paymentsHistory">
                                <table class="table table-bordered table-condensed" id="paymentsTable" name="paymentsTable" style="background-color: white;">
                                    <thead>
                                        <tr class="active">
                                            <th style="width: 12%;" class="text-center">Дата<br>создания</th>
                                            <th style="width: 12%;" class="text-center">Дата<br>оплаты</th>
                                            <th style="width: 12%;" class="text-center">Договор<br>(пролонг.)</th>
                                            <th style="width: 12%;" class="text-center">Месяц<br>оплаты</th>
                                            <th style="width: 12%;" class="text-center">Год<br>оплаты</th>
                                            <th style="width: 20%; vertical-align: middle" class="text-center">Сумма</th>
                                            <th style="width: 20%;" class="text-center">Способ<br>оплаты</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                    <button type="submit" class="btn btn-success" id="save">Записать</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        var dataTable = [];

        $(document).ready(function () {

            $.ajax({
                type: 'GET',
                url: '/payments/table',
                dataType: 'json',
                async: true,
                data: {
                    'id': $('#apartment_id').val()
                },
                success: function (data) {
                    // alert(data);
                    dataTable = [];
                    if ((data.table) && (data.table instanceof Array)) {
                        dataTable = data.table;
                        var paymentsTable = document.getElementById('paymentsTable');
                        // Очистить строки у таблицы заранее
                        var innerString = paymentsTable.innerHTML;
                        var s = '';
                        for (var ind = 0, max = dataTable.length; ind < max; ind++) {
                            s += '<tr' + (ind % 2 ? ' class="warning">' : '>') + 
                                '<td class="text-center">' + dataTable[ind].create_date + '</td>' +
                                '<td class="text-center">' + dataTable[ind].pay_date + '</td>' +
                                '<td class="text-center">' + dataTable[ind].m_contract_number + '</td>' +
                                '<td class="text-center">' + dataTable[ind].pay_month + '</td>' +
                                '<td class="text-center">' + dataTable[ind].pay_year + '</td>' +
                                '<td class="text-center">' + dataTable[ind].amount.toFixed(2) + '</td>' +
                                '<td class="text-center">' + dataTable[ind].org_name + '</td>' +
                            '</tr>'
                        }
                        paymentsTable.innerHTML = innerString + s;
                    }
                },
                error: function (data) {
                    alert(data);
                }
            });
        });
    </script>
</body>

</html>