<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <title>Home page - <%= title %>></title>

    <% include ../../common/bootstrap_css.ejs %>
    <link href="/theme.css" rel="stylesheet">
    <link href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/scroll_table_double_rows.css" rel="stylesheet">
</head>

<body>

    <% include ../../common/full_menu.ejs %>

    <div class="container">
        <div class="form-header">
            <h3><%= title %></h3>
        </div>
        <div class="well">
            <div class="card-body">
                <input type="text" hidden id="id" name="id" value="<%= typeof data != 'undefined' ? data.id : ''  %>">
                <input type="text" hidden id="settings" value="">
                <input type="text" hidden id="pages_count" value="">
                <form class="form-inline" role="form">
                    <button type="button" id="build_register" class="btn btn-default navbar-btn" data-toggle="tooltip" data-placement="top" title="Сформировать реестр"><span class="glyphicon glyphicon-play"></span></button>
                    <button type="button" id="download_register" class="btn btn-default navbar-btn" data-toggle="tooltip" data-placement="top" title="Выгрузить реестр"><span class="glyphicon glyphicon-download"></span></button>
                </form>
                <p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="createDate" class="control-label">Создано</label>
                            <div class="input-group date" id='datetimepicker_create_date'>
                                <input type="text" class="form-control" name="createDate" id="createDate" readonly value="<%= typeof data != 'undefined' ? moment(data.create_date).format( 'DD.MM.YYYY' ) : ''  %>">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="start_date" class="control-label">Период с</label>
                            <div class="input-group date" id='datetimepicker_start_date'>
                                <input type="text" class="form-control" name="start_date" id="start_date" value="<%= typeof data != 'undefined' ? moment(data.start_date).format( 'DD.MM.YYYY' ) : ''  %>">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="end_date" class="control-label">Период по</label>
                            <div class="input-group date" id='datetimepicker_end_date'>
                                <input type="text" class="form-control" name="end_date" id="end_date" value="<%= typeof data != 'undefined' ? moment(data.end_date).format( 'DD.MM.YYYY' ) : ''  %>">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="last_modify_date" class="control-label">Последнее изменение</label>
                            <div class="input-group date" id='datetimepicker_last_modify_date'>
                                <input type="text" class="form-control" name="last_modify_date" id="last_modify_date" readonly value="<%= typeof data != 'undefined' ? moment(data.last_modify_date).format( 'DD.MM.YYYY HH:mm' ) : ''  %>">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="find_contract_number" name="find_contract_number" placeholder="Номер договора" value="">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="erase_contract">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="prolonged"> Пролонгированный
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input-group">
                            <button type="button" id="search" class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span> Искать
                            </button>
                        </div>
                    </div>
                </div>
                <p>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull">Договоров&nbsp;&nbsp;</span>
                        <span class="badge badge-info"><%= tableRowsCount %></span>
                    </div>
                </div>
                <p>
                <table class="table table-condensed" id="registerTable" name="registerTable">
                    <thead>
                        <tr class="active">
                            <th rowsspan="2" style="width: 33%;" class="text-center align-middle">Номер договора</th>
                            <th rowsspan="2" style="width: 33%;" class="text-center align-middle">Пролонгированный договор</th>
                            <th rowsspan="2" style="width: 32%;" class="text-center align-middle">Дата ТО с</th>
                        </tr>
                        <tr class="active">
                            <th class="text-center align-middle">Дата договора</th>
                            <th class="text-center align-middle">Дата пролонгации</th>
                            <th class="text-center align-middle">Дата ТО по</th>
                        </tr>
                    </thead>
                    <tbody id="tbody" style="background-color: white;">
                    </tbody>
                </table>
                    <nav aria-label="...">
                    <ul class="pagination text-center table_pagination" id="pagination">
                    </ul>
                <div class="row">
                    <div class="col">
                        <!-- <button type="submit" class="btn btn-success" id="save">Записать</button> -->
                        <button class="btn btn-success" id="save">Записать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/register.js"></script>

  </body>

</html>