<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <title>Home page - <%= title %>></title>

    <% include ../../common/bootstrap_css.ejs %>
    <% include ../../common/font_awesome_css.ejs %>
    <link href="/bower_components/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
    <link href="/navbar-top.css" rel="stylesheet">
    <link href="/scroll_table_double_rows.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
        <a class="navbar-brand" href="/home">Домофон-Сервис</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <% include ../../common/full_menu.ejs %>
    </nav>

    <div class="container">
        <div class="card">
            <div class="card-header">
                Реестр
            </div>
            <div class="card-body">
                <input type="text" hidden id="id" name="id" value="<%= typeof data != 'undefined' ? data.id : ''  %>">
                <input type="text" hidden id="settings" value="">
                <input type="text" hidden id="pages_count" value="">
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <button id="build_register" type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Сформировать реестр">
                            <i class="fas fa-play fa-fw" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-auto my-1">
                        <button id="download_register" type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Загрузить реестр">
                            <i class="fas fa-cloud-download-alt fa-fw" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="create_date">Дата создания</label>
                            <div class="input-group date" id="datetimepicker_create_date" data-target-input="nearest">
                                <input type="text" name="create_date" id="create_date" class="form-control datetimepicker-input" data-target="#datetimepicker_create_date" readonly value="<%= typeof data != 'undefined' ? moment(data.create_date).format( 'DD.MM.YYYY' ) : ''  %>"/>
                                <div class="input-group-append" data-target="#datetimepicker_create_date" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="start_date">Период с</label>
                            <div class="input-group date" id="datetimepicker_start_date" data-target-input="nearest">
                                <input type="text" name="start_date" id="start_date" class="form-control datetimepicker-input" data-target="#datetimepicker_start_date" value="<%= typeof data != 'undefined' ? moment(data.start_date).format( 'DD.MM.YYYY' ) : ''  %>"/>
                                <div class="input-group-append" data-target="#datetimepicker_start_date" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="end_date">Период по</label>
                            <div class="input-group date" id="datetimepicker_end_date" data-target-input="nearest">
                                <input type="text" name="end_date" id="end_date" class="form-control datetimepicker-input" data-target="#datetimepicker_end_date" value="<%= typeof data != 'undefined' ? moment(data.end_date).format( 'DD.MM.YYYY' ) : ''  %>"/>
                                <div class="input-group-append" data-target="#datetimepicker_end_date" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="last_modify_date">Последнее изменение</label>
                            <div class="input-group date" id="datetimepicker_last_modify_date" data-target-input="nearest">
                                <input type="text" name="last_modify_date" id="last_modify_date" class="form-control datetimepicker-input" data-target="#datetimepicker_last_modify_date" readonly value="<%= typeof data != 'undefined' ? moment(data.last_modify_date).format( 'DD.MM.YYYY HH:mm' ) : ''  %>"/>
                                <div class="input-group-append" data-target="#datetimepicker_last_modify_date" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <div class="input-group">
                        <input type="text" id="find_contract_number" name="find_contract_number" class="form-control" placeholder="Номер договора" value="">
                        <div class="input-group-append">
                            <button class="btn btn-info" id="erase_contract">
                            <i class="fas fa-eraser" aria-hidden="true"></i>
                          </button>
                        </div>
                        </div>
                    </div>
                    <div class="col-auto my-1">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="prolonged">
                            <label class="custom-control-label" for="prolonged">Пролонгированный</label>
                        </div>
                    </div>
                    <div class="col-auto my-1">
                        <button id="search" name="search" type="button" class="btn btn-info">
                            <i class="fas fa-search fa-fw" aria-hidden="true"></i> Искать
                        </button>
                    </div>
                    <div class="col">
                        <div class="float-right">Договоров <span class="badge badge-info"><%= tableRowsCount %></span></div>
                    </div>
                </div>
                <p>
                <table class="table table-sm" id="registerTable" name="registerTable">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" rowsspan="2" style="width: 33%;" class="text-center align-middle">Номер договора</th>
                            <th scope="col" rowsspan="2" style="width: 33%;" class="text-center align-middle">Пролонгированный договор</th>
                            <th scope="col" rowsspan="2" style="width: 32%;" class="text-center align-middle">Дата ТО с</th>
                        </tr>
                        <tr>
                            <th scope="col" style="width: 33%;" class="text-center align-middle">Дата договора</th>
                            <th scope="col" style="width: 33%;" class="text-center align-middle">Дата пролонгации</th>
                            <th scope="col" style="width: 32%;" class="text-center align-middle">Дата ТО по</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
                    <nav aria-label="...">
                    <ul class="pagination text-center table_pagination" id="pagination">
                    </ul>
                <div class="row">
                    <div class="col">
                        <!-- <button type="submit" class="btn btn-success" id="save">Записать</button> -->
                        <button class="btn btn-success" id="save">Записать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="/bower_components/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
    
    <script>

      // Basic foundation
      // http://carlofontanos.com/nodejs-ajax-pagination-with-mongodb-search-sort-filter/

      var app = {
        Register: function() {
          this.init = function() {
            this.getAllPagination();
          };

          this.getAllPagination = function() {
            _this = this;

            if ($('#settings').val()) {
              data = JSON.parse($('form.post-list input').val());
              _this.ajaxGetAllItemsPagination(data.page, data.search);
            } else {
              _this.ajaxGetAllItemsPagination(1, $('find_contract_number').val());
            }

            $("#find_contract_number").keyup(function (e) {
              if (e.keyCode == 13) {
                _this.ajaxGetAllItemsPagination(1, $('#find_contract_number').val());
              }
            });

            $('body').on('click', '#erase_contract', function() {
              $('#find_contract_number').val('');
              $('#find_contract_number').focus();
            });

            $('body').on('click', '#search', function() {
              _this.ajaxGetAllItemsPagination(1, $('#find_contract_number').val());
            });

            $('body').on('click', '.pagination .page-link', function() {
              var page = $(this).text();
              switch ((typeof page == 'string') && (page.charCodeAt())) {
                case 171:
                  page = 1;
                  break;
                case 187: 
                  page = +($('#pages_count').val());
                  break;
              }
              _this.ajaxGetAllItemsPagination(page, $('#find_contract_number').val());
            });

            _this.ajaxGetAllItemsPagination(1, $('#find_contract_number').val()); 
          }
          
          this.ajaxGetAllItemsPagination = function(page) {

            // $('#pagination').html('<div class="col align-self-center loader"></div>');

            var post_data = {
              'id': $('#id').val(),
              'page': page,
              'search': $('#find_contract_number').val(),
              'prolonged': $('#prolonged:checkbox:checked').val() === 'on'
            };
                
            $('#settings').val(JSON.stringify(post_data));
                
            var data = {
              action: 'get-register',
              data: JSON.parse($('#settings').val())
            };

            $.ajax({
              url: '/registers/edit',
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify(data),
              success: function(response) {
                // alert('success!');
                $('#tbody').html(response.bodyTable);
                $('#pagination').html(response.pageContent);
                $("#pages_count").val(response.pagesCount);
              },
              error: function( description ) {
                console.log('error!');
              }
            })
          }
        }
      }

      $(function () {
        $('#datetimepicker_create_date').datetimepicker({
          format: 'L',
          locale: 'ru'
        });

        $('#datetimepicker_start_date').datetimepicker({
          format: 'L',
          locale: 'ru'
        });

        $('#datetimepicker_end_date').datetimepicker({
          format: 'L',
          locale: 'ru'
        });

        $('#datetimepicker_last_modify_date').datetimepicker({
          locale: 'ru'
        });

        $('[data-toggle="tooltip"]').tooltip()

        var register = new app.Register();
        register.init();
      });
    </script>
</body>

</html>