<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <title>Home page - Оборудование</title>

    <% include ../common/bootstrap_css.ejs %>
        <% include ../common/font_awesome_css.ejs %>
            <link href="/navbar-top.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
        <a class="navbar-brand" href="#">Домофон-Сервис</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <% include ../common/full_menu.ejs %>
    </nav>

    <div class="container-fluid">
        <form class="form-inline">
            <a class="btn btn-primary btn-sm" href="/equipment/add" id="add">
                <i class="fas fa-plus fa-fw" aria-hidden="true"></i>
            </a>
        </form>
        <p></p>
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col" style="width: 76%;" class="text-left align-middle">Оборудование</th>
                    <th scope="col" style="width: 12%;" class="text-center align-middle">Гарантия, в годах</th>
                    <th scope="col" style="width: 12%;" class="text-center align-middle">Действия</th>
                </tr>
            </thead>
            <tbody>
                <% for(var cnt = 0; cnt < data.length; cnt++) {%>
                    <tr>
                        <td>
                            <%= data[cnt].name %>
                        </td>
                        <td class="text-center">
                            <%= data[cnt].guarantee_period > 0 ? data[cnt].guarantee_period : '' %>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-primary btn-sm" href="/equipment/edit/<%= data[cnt].id %>" id="edit">
                                <i class="far fa-edit fa-fw" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" href="#" onclick="confirmDelete(+<%= data[cnt].id %>);">
                                <i class="far fa-trash-alt fa-fw" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
        <% if (pageCount > 0) { %>
            <nav aria-label="...">
            <ul class="pagination text-center table_pagination">
                <% if (currentPage == 1) { %>
                    <li class="page-item disabled">
                        <span class="page-link">&laquo;</span>
                    </li>
                    <% } else { %>
                        <li class="page-item">
                            <a class="page-link" href="/equipment">&laquo;
                        </a>
                    </li>
                <% } %>
                <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="page-item disabled">
                        <a>...</a>
                    </li>
                <% } %>
                <% for (; i <= (Number(currentPage) + 4) && i <= pageCount; i++) { %>
                    <% if (i == currentPage) { %>
                        <li class="page-item active">
                            <span class="page-link">
                                <%= i %>
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    <% } else { %>
                        <li class="page-item">
                            <a class="page-link" href="/equipment/<%= (i == 1) ? '' : (i - 1) * 20 %>">
                                <%= i %>
                            </a>
                        </li>
                    <% } %>
                    <% if (i == Number(currentPage) + 4 && i < pageCount) { %>
                        <li class="page-item disabled">
                            <a class="page-link">...</a>
                        </li>
                    <% } %>
                <% } %>
                <% if (currentPage == pageCount) { %>
                    <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                    </li>
                <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="/equipment/<%= (pageCount - 1) * 20 %>">&raquo;</a>
                    </li>
                <% } %>
             </ul>
             </nav>
          <% } %>
    </div>

    <div class="modal" id="modalDeleteRecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Подтверждение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="text" hidden id="deletedUID" name="deletedUID" value="">
                    </form>
                    <p>Удалить запись?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="deleteRecord">Удалить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/bootstrap/assets/js/vendor/holder.min.js"></script>
    <script>
        function confirmDelete(id) {
            $('#deletedUID').val(id);
            $('#modalDeleteRecord').modal({'keyboard': true});
        }

        $(document).ready(function () {
            $('#deleteRecord').click(function() {
                $('#modalDeleteRecord').modal('hide');
                $.ajax({
                    type: 'POST',
                    url: '/equipment/delete',
                    dataType: 'json',
                    async: true,
                    data: {
                        'id': $('#deletedUID').val()
                    },
                    success: function (data) {
                        var path = window.location.origin + '/equipment';
                        window.location.href = path;
                        return;
                    }
                });
                
            });
        });
    </script>
</body>

</html>