<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <title>Home page - <%= title %></title>

    <% include ../../common/bootstrap_css.ejs %>
    <link href="/theme.css" rel="stylesheet">
</head>

<body>

    <% include ../../common/full_menu.ejs %>

    <div class="container">
        <div class="form-header">
            <h3><%= title %></h3>
        </div>
        <form method="post" action="/cities/save" novalidate>
            <div class="well">
                <div class="card-body">
                    <input type="text" hidden id="id" name="id" value="<%= typeof data != 'undefined' ? data.id : ''  %>">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="name">Наименование</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="" autofocus="autofocus" value="<%= typeof data != 'undefined' ? data.name : '' %>">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="printType">Тип печати</label>
                                <input type="number" class="form-control" id="printType" name="printType" placeholder="" value="<%= typeof data != 'undefined' ? (data.print_type > 0 ? data.print_type : '') : '' %>">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="normalPayment">Обычная плата</label>
                                <input type="number" class="form-control" id="normalPayment" name="normalPayment" placeholder="" value="<%= typeof data != 'undefined' ? (data.normal_payment > 0.00 ? data.normal_payment : '') : '' %>">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="privilegePayment">Льготная плата</label>
                                <input type="number" class="form-control" id="privilegePayment" name="privilegePayment" placeholder="" value="<%= typeof data != 'undefined' ? (data.privilege_payment > 0.00 ? data.privilege_payment : '') : '' %>">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="phone">Телефон</label>
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="" value="<%= typeof data != 'undefined' ? data.phone : '' %>">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" id="save">Записать</button>
                </div>
            </div>
        </form>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
