<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <title>Home page - <%= title %></title>

    <% include ../../common/bootstrap_css.ejs %>
    <link href="/theme.css" rel="stylesheet">
</head>

<body>
    <% include ../../common/full_menu.ejs %>

    <div class="container">
        <div class="form-header">
            <h3><%= title %></h3>
        </div>
        <form method="post" action="/workers/save" novalidate>
            <div class="well">
                <div class="card-body">
                    <input type="text" hidden id="id" name="id" value="<%= typeof data != 'undefined' ? data.id : ''  %>">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">ФИО</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="" autofocus="autofocus" value="<%= typeof data != 'undefined' ? data.name : '' %>">
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_work" name="is_work" <%= typeof data != 'undefined' ? (+data.is_work === 1 ? ' checked' : '') : ''  %> > Не работает
                        </label>
                    </div>
                    <button type="submit" class="btn btn-success" id="save" name="save">Записать</button>
                </div>
            </div>
        </form>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>