<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <title>Home page - Заявки</title>

    <% include ../common/bootstrap_css.ejs %>
    <link href="/theme.css" rel="stylesheet">
</head>

<body role="document">
           
    <% include ../common/full_menu.ejs %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-9">
                <ol class="breadcrumb">
                    <li><a href="#">Документы</a></li>
                    <li>Текущие заявки</li>
                </ol>
            </div>
            <div class="col-xs-3">
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Текущие</a></li>
                    <li role="presentation"><a href="/applications/completed">Выполненные</a></li>
                </ul>
            </div>
        </div>
        <form class="form-inline" role="form">
            <a href="/applications/add" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Новая заявка"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </form>
        <p>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr class="active">
                    <th style="width: 10%;" class="text-center align-middle">Дата</th>
                    <th style="width: 20;" class="text-center align-middle">Город</th>
                    <th style="width: 20%;" class="text-center align-middle">Улица</th>
                    <th style="width: 6%;" class="text-center align-middle">Дом</th>
                    <th style="width: 6%;" class="text-center align-middle">Подъезд</th>
                    <th style="width: 5%;" class="text-center align-middle">Проблем</th>
                    <th style="width: 25%;" class="text-center align-middle">Описание проблем</th>
                    <th style="width: 8%;" class="text-center align-middle">Действия</th>
                </tr>
            </thead>
            <tbody>
                <% for (var ind = 0, max = data.length; ind < max; ind++) {%>
                <tr>
                    <td class="text-center align-middle">
                        <%= moment(data[ind].createDate).format( 'DD.MM.YYYY HH:mm') %>
                    </td>
                    <td class="text-left align-middle">
                        <%= data[ind].cityName %>
                    </td>
                    <td class="text-left align-middle">
                        <%= data[ind].streetName %>
                    </td>
                    <td class="text-center align-middle">
                        <%= data[ind].houseNumber %>
                    </td>
                    <td class="text-center align-middle">
                        <%= data[ind].porch %>
                    </td>
                    <td class="text-center align-middle">
                        <%= data[ind].rowsInDoc === 0 ? '' : data[ind].rowsInDoc %>
                    </td>
                    <td class="text-left align-middle">
                        <%= 'problemDescription' in data[ind] ? data[ind].problemDescription : '' %>
                    </td>
                    <td class="text-center align-middle">
                        <a href="/applications/edit/<%= data[ind].documentId %>" class="btn btn-info btn-xs" id="edit">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                            </span>
                        </a>
                        <a href="#" onclick="confirmDelete(+<%= data[ind].documentId %>);" class="btn btn-danger btn-xs" id="orders_info">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true">
                            </span>
                        </a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <% if (pageCount > 0) { %>
            <nav aria-label="...">
                <ul class="pagination text-center table_pagination">
                    <% if (currentPage == 1) { %>
                        <li class="page-item disabled">
                            <span class="page-link">&laquo;</span>
                        </li>
                        <% } else { %>
                            <li class="page-item">
                                <a class="page-link" href="/applications">&laquo;
                            </a>
                        </li>
                    <% } %>
                    <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item disabled">
                            <a class="page-link">...</a>
                        </li>
                    <% } %>
                    <% for (; i <= (Number(currentPage) + 4) && i <= pageCount; i++) { %>
                        <% if (i == currentPage) { %>
                            <li class="page-item active">
                                <span class="page-link">
                                    <%= i %>
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        <% } else { %>
                            <li class="page-item">
                                <a class="page-link" href="/applications/<%= (i == 1) ? '' : (i - 1) * Number(visibleRows) %>">
                                    <%= i %>
                                </a>
                            </li>
                        <% } %>
                        <% if (i == Number(currentPage) + 4 && i < pageCount) { %>
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        <% } %>
                    <% } %>
                    <% if (currentPage == pageCount) { %>
                        <li class="page-item disabled">
                            <a class="page-link">&raquo;</a>
                        </li>
                    <% } else { %>
                        <li class="page-item">
                            <a class="page-link" href="/applications/<%= (pageCount - 1) * Number(visibleRows) %>">&raquo;</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        <% } %>
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-info">Записей: <strong><%= countRecords %></strong></div>
                </div>
            </div>
    </div>

    <div class="modal" id="modalDeleteRecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Подтверждение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="text" hidden id="deletedUID" name="deletedUID" value="">
                    </form>
                    <p>Удалить запись?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="deleteRecord">Удалить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        function confirmDelete(id) {
            $('#deletedUID').val(id);
            $('#modalDeleteRecord').modal({'keyboard': true});
        }

        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip(); 

            $('#deleteRecord').click(function() {
                $('#modalDeleteRecord').modal('hide');
                $.ajax({
                    type: 'POST',
                    url: '/applications/delete',
                    dataType: 'json',
                    async: true,
                    data: {
                        'id': $('#deletedUID').val()
                    },
                    success: function (data) {
                        var path = window.location.origin + '/applications';
                        window.location.href = path;
                        return;
                    },
                    error: function (data) {
                        alert(data);
                    }
                });
                
            });
        });
    </script>
</body>

</html>