<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <title>Home page - <%= title %></title>

    <% include ../common/bootstrap_css.ejs %>
    <link href="/theme.css" rel="stylesheet">
</head>

<body>

    <% include ../common/full_menu.ejs %>
    
    <div class="container-fluid">
        <div class="row">   
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#">Документы</a></li>
                    <li><%= title %></li>
                </ol>
            </div>
        </div>
        <form class="form-inline" role="form">
            <a href="/orders/add" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Новый договор"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </form>
        <p>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr class="active">
                    <th rowspan="2" style="width: 6%; vertical-align: middle" class="text-center">Номер</th>
                    <th rowspan="2" style="width: 6%; vertical-align: middle" class="text-center">Дата</th>
                    <th rowspan="2" style="width: 10%; vertical-align: middle" class="text-center">TO</th>
                    <th rowspan="2" style="width: 6%; vertical-align: middle" class="text-center">!!!</th>
                    <th rowspan="2" style="width: 6%; vertical-align: middle" class="text-center">Кредит до</th>
                    <th rowspan="2" style="width: 12%; vertical-align: middle" class="text-center">Конец<br>гарантии</th>
                    <th style="width: 12%;" class="text-center">Улица</th>
                    <th style="width: 12%;" class="text-center">Город</th>
                    <th rowspan="2" style="width: 6%; vertical-align: middle" class="text-center">Нумерация</th>
                    <th rowspan="2" style="width: 6%; vertical-align: middle" class="text-center">Оборудование</th>
                    <th rowspan="2" style="width: 9%; vertical-align: middle" class="text-center">Договор ТО</th>
                    <th style="width: 9%;" class="text-center">Конец договора ТО</th>
                    <th rowspan="2" style="width: 9%; vertical-align: middle" class="text-center">Дата<br>печати</th>
                    <th rowspan="2" style="width: 12%; vertical-align: middle" class="text-center">Действия</th>
                </tr>
                <tr class="active">
                    <th class="text-center">Дом</th>
                    <th class="text-center">Подьезд</th>
                    <th class="text-center">ТО прологирован до</th>
                </tr>
            </thead>
            <tbody>
                <% for (var ind = 0, max = data.length; ind < max; ind++) {%>
                <tr>
                    <td rowspan="2" class="text-center <%= data[ind].repaid == 1 ? ' table-success' : ' table-danger' %>" style="vertical-align: middle">
                        <%= data[ind].contract_number %>
                    </td>
                    <td rowspan="2" class="text-center" style="vertical-align: middle">
                        <%= moment(data[ind].create_date).format( 'DD.MM.YYYY') %>
                    </td>
                    <td rowspan="2" class="text-center" style="vertical-align: middle">
                        <img src="<%= data[ind].maintenance_contract == 1 ? '/images/green1.png' : (data[ind].maintenance_contract == 2 ? '/images/red1.png' : '/images/blue_minus.png') %>"    
                    </td>
                    <td rowspan="2" class="text-center" style="vertical-align: middle">
                    <% if (data[ind].attention == 1) {%>
                        <img src="/images/attention.png">
                    <% } %>
                    </td>
                    <td rowspan="2" class="text-center" style="vertical-align: middle">
                        <%= moment(data[ind].credit_to).format( 'DD.MM.YYYY') %>
                    </td>
                    <td rowspan="2" class="text-center" style="vertical-align: middle">
                        <%= moment(data[ind].end_contract).format( 'DD.MM.YYYY') %>
                    </td>
                    <td class="text-left">
                        <%= data[ind].street_name %>
                    </td>
                    <td class="text-left">
                        <%= data[ind].city_name %>
                    </td>
                    <td rowspan="2" class="text-center" style="vertical-align: middle">
                        <%= data[ind].numeration %>
                    </td>
                    <td rowspan="2" class="text-center" style="vertical-align: middle">
                        <%= data[ind].equipment_name %>
                    </td>
                    <td rowspan="2" class="text-center <%= data[ind].m_repaid == 1 ? ' table-success' : ' table-danger' %>" style="vertical-align: middle">
                        <%= data[ind].m_contract_number %>
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <%= data[ind].end_service !== null ? moment(data[ind].end_service).format( 'DD.MM.YYYY' ) : '' %>
                    </td>
                    <td rowspan="2" class="text-center" style="vertical-align: middle">
                        <%= data[ind].receipt_printing !== null ? moment(data[ind].receipt_printing).format( 'DD.MM.YYYY' ) : '' %>
                    </td>
                    <td rowspan="2" class="text-center" style="vertical-align: middle">
                        <a href="/orders/edit/<%= data[ind].id %>" class="btn btn-info btn-xs" id="edit">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                            </span>
                        </a>
                        <a href="#" onclick="confirmDelete(+<%= data[ind].id %>);" class="btn btn-danger btn-xs" id="orders_info">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true">
                            </span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        <%= data[ind].house_number %>
                    </td>
                    <td class="text-right">
                        <%= data[ind].porch %>
                    </td>
                    <td class="text-center">
                        <%= data[ind].m_prolongation !== null ? moment(data[ind].m_prolongation).format( 'DD.MM.YYYY' ) : '' %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <% if (pageCount > 0) { %>
            <nav aria-label="...">
            <ul class="pagination text-center table_pagination">
                <% if (currentPage == 1) { %>
                    <li class="page-item disabled">
                        <span class="page-link">&laquo;</span>
                    </li>
                    <% } else { %>
                        <li class="page-item">
                            <a class="page-link" href="/orders">&laquo;
                        </a>
                    </li>
                <% } %>
                <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                <% } %>
                <% for (; i <= (Number(currentPage) + 4) && i <= pageCount; i++) { %>
                    <% if (i == currentPage) { %>
                        <li class="page-item active">
                            <span class="page-link">
                                <%= i %>
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    <% } else { %>
                        <li class="page-item">
                            <a class="page-link" href="/orders/<%= (i == 1) ? '' : (i - 1) * Number(visibleRows) %>">
                                <%= i %>
                            </a>
                        </li>
                    <% } %>
                    <% if (i == Number(currentPage) + 4 && i < pageCount) { %>
                        <li class="page-item disabled">
                            <a class="page-link">...</a>
                        </li>
                    <% } %>
                <% } %>
                <% if (currentPage == pageCount) { %>
                    <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                    </li>
                <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="/orders/<%= (pageCount - 1) * Number(visibleRows) %>">&raquo;</a>
                    </li>
                <% } %>
             </ul>
             </nav>
          <% } %>
    </div>

    <div class="modal" id="modalDeleteRecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Подтверждение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="text" hidden id="deletedUID" name="deletedUID" value="">
                    </form>
                    <p>Удалить запись?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="deleteRecord">Удалить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        function confirmDelete(id) {
            $('#deletedUID').val(id);
            $('#modalDeleteRecord').modal({'keyboard': true});
        }

        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();

            $('#deleteRecord').click(function() {
                $('#modalDeleteRecord').modal('hide');
                $.ajax({
                    type: 'POST',
                    url: '/payments/delete',
                    dataType: 'json',
                    async: true,
                    data: {
                        'id': $('#deletedUID').val()
                    },
                    success: function (data) {
                        var path = window.location.origin + '/payments';
                        window.location.href = path;
                        return;
                    },
                    error: function (data) {
                        alert(data);
                    }
                });
                
            });
        });
    </script>
</body>

</html>