<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../../../favicon.ico"> -->
  <title><%= title %></title>

  <% include ../common/bootstrap_css.ejs %>
  <link href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"
    rel="stylesheet">
  <link href="/theme.css" rel="stylesheet">
</head>

<body>

  <% include ../common/full_menu.ejs %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li><a href="#">Документы</a></li>
          <li><%= title %></li>
        </ol>
      </div>
    </div>
    <form class="form-inline" role="form" method="get" action="/orders/filter">
      <input type="text" hidden id="filters" name="filters" value="<%= JSON.stringify(filters) %>">
      <div class="input-group date my-tooltip" id="startDate" data-toggle="tooltip" data-placement="top" title="Начальная дата конца ТО">
        <input type="text" class="form-control" name="startDate" value="<%= moment(filters.period.start).format( 'DD.MM.YYYY HH:mm' ) %>" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <div class="input-group date my-tooltip" id="endDate" data-toggle="tooltip" data-placement="top" title="Конечная дата конца ТО">
        <input type="text" class="form-control" name="endDate" value="<%= moment(filters.period.end).format( 'DD.MM.YYYY HH:mm' ) %>" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      &nbsp;
      <div class="checkbox">
        <label><input type="checkbox" name="onlyMaintenanceService" id="onlyMaintenanceService" <%= filters.onlyMaintenanceService ? ' checked' : '' %>> Только ТО</label>
      </div>
      &nbsp;
      <button type="submit" class="btn btn-success" name="applyFilter">&nbsp;Применить фильтр&nbsp;</button>
      <a href="/orders/add" class="btn btn-default" data-toggle="tooltip" data-placement="top"
        title="Новый договор"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </form>
    <p>
      <table class="table table-bordered table-condensed table-hover">
        <thead>
          <tr class="active">
            <th style="width: 8%; vertical-align: middle" class="text-center">Номер</th>
            <th style="width: 6%; vertical-align: middle" class="text-center" rowspan="2">Дата</th>
            <th style="width: 15%; vertical-align: middle" class="text-center">Город</th>
            <th style="width: 16%; vertical-align: middle" class="text-center">Улица</th>
            <th style="width: 8%; vertical-align: middle" class="text-center">Дом</th>
            <th style="width: 8%; vertical-align: middle" class="text-center">Подъезд</th>
            <th style="width: 6%; vertical-align: middle" class="text-center" rowspan="2">Нумерация</th>
            <th style="width: 13%; vertical-align: middle" class="text-center" rowspan="2">Оборудование</th>
            <th style="width: 8%; vertical-align: middle" class="text-center">Договор ТО</th>
            <th style="width: 6%; vertical-align: middle" class="text-center" rowspan="2">Конец ТО</th>
            <th style="width: 6%; vertical-align: middle" class="text-center" rowspan="2">Дата<br>печати</th>
          </tr>
          <tr class="active">
            <td>
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" id="clearOrder">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </span>
                <input type="text" class="form-control" placeholder="Договор" name="findOrder" id="findOrder"
                  value="<%= +filters.number.order === 0 ? '' : filters.number.order %>">
              </div>
            </td>
            <td>
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" id="clearCity">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </span>
                <input type="text" class="form-control" placeholder="Город" name="findCity" id="findCity"
                  value="<%= +filters.city.id === 0 ? '' : filters.city.name %>">
              </div>
            </td>
            <td>
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" id="clearStreet">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </span>
                <input type="text" class="form-control" placeholder="Улица" name="findStreet" id="findStreet"
                  value="<%= +filters.street.id === 0 ? '' : filters.street.name %>">
              </div>
            </td>
            <td>
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" id="clearHouse">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </span>
                <input type="text" class="form-control" placeholder="Дом" name="findHouse" id="findHouse"
                  value="<%= +filters.house.id === 0 ? '' : filters.house.number %>">
              </div>
            </td>
            <td>
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" id="clearPorch">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </span>
                <input type="text" class="form-control" placeholder="Подъезд" name="findPorch" id="findPorch"
                  id="filterPorch" value="<%= +filters.porch.number === 0 ? '' : filters.porch.number %>">
              </div>
            </td>
            <td>
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" id="clearProlongedOrder">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </span>
                <input type="text" class="form-control" placeholder="Договор" name="findProlongedOrder" id="findProlongedOrder"
                  value="<%= +filters.number.prolongedOrder === 0 ? '' : filters.number.prolongedOrder %>">
              </div>
            </td>
          </tr>
          </p>
        </thead>
        <tbody>
          <% data.forEach( function (item) { %>
          <tr>
            <td class="text-center <%= item.repaid == 1 ? ' table-success' : ' table-danger' %>"
              style="vertical-align: middle">
              <a href="/orders/edit/<%= item.id %>"><%= item.contract_number %>
            </td>
            <td class="text-center" style="vertical-align: middle">
              <%= moment(item.create_date).format( 'DD.MM.YYYY') %>
            </td>
            <td class="text-left" style="vertical-align: middle">
              <%= item.city_name %>
            </td>
            <td class="text-left" style="vertical-align: middle">
              <%= item.street_name %>
            </td>
            <td class="text-center" style="vertical-align: middle">
              <%= item.house_number %>
            </td>
            <td class="text-center" style="vertical-align: middle">
              <%= item.porch %>
            </td>
            <td class="text-center" style="vertical-align: middle">
              <%= item.numeration %>
            </td>
            <td class="text-left" style="vertical-align: middle">
              <%= item.equipment_name %>
            </td>
            <td class="text-center <%= item.m_repaid == 1 ? ' table-success' : ' table-danger' %>"
              style="vertical-align: middle">
              <%= item.m_contract_number %>
            </td>
            <td class="text-center" style="vertical-align: middle">
              <%= item.end_service !== null ? moment(item.end_service).format( 'DD.MM.YYYY' ) : '\u00A0' %>
            </td>
            <td class="text-center" style="vertical-align: middle">
              <%= item.receipt_printing !== null ? moment(item.receipt_printing).format( 'DD.MM.YYYY' ) : '\u00A0' %>
            </td>
          </tr>
        <% }) %>
        </tbody>
      </table>
      <% if (pageCount > 0) { %>
      <nav aria-label="...">
        <ul class="pagination text-center table_pagination">
          <% if (currentPage == 1) { %>
          <li class="page-item disabled">
            <span class="page-link">&laquo;</span>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/orders">&laquo;
            </a>
          </li>
          <% } %>
          <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
          <% if (i !== 1) { %>
          <li class="page-item disabled">
            <a class="page-link">...</a>
          </li>
          <% } %>
          <% for (; i <= (Number(currentPage) + 4) && i <= pageCount; i++) { %>
          <% if (i == currentPage) { %>
          <li class="page-item active">
            <span class="page-link">
              <%= i %>
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/orders/<%= (i == 1) ? '' : (i - 1) * Number(visibleRows) %>">
              <%= i %>
            </a>
          </li>
          <% } %>
          <% if (i == Number(currentPage) + 4 && i < pageCount) { %>
          <li class="page-item disabled">
            <a class="page-link">...</a>
          </li>
          <% } %>
          <% } %>
          <% if (currentPage == pageCount) { %>
          <li class="page-item disabled">
            <a class="page-link">&raquo;</a>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/orders/<%= (pageCount - 1) * Number(visibleRows) %>">&raquo;</a>
          </li>
          <% } %>
        </ul>
      </nav>
      <% } %>
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-info">Записей: <strong><%= countRecords %></strong></div>
        </div>
      </div>
  </div>

  <div class="modal" id="modalDeleteRecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Подтверждение</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <input type="text" hidden id="deletedUID" name="deletedUID" value="">
          </form>
          <p>Удалить запись?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" id="deleteRecord">Удалить</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
  <script src="/bower_components/bootstrap/js/transition.js"></script>
  <script src="/bower_components/bootstrap/js/collapse.js"></script>
  <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script src="/bower_components/bootstrap3-typeahead/bootstrap3-typeahead.js"></script>
  <script src="/bower_components/axios/dist/axios.min.js"></script>
  <script src="/js/orders.js"></script>

</body>

</html>